
body {
    width: 1200px;
    margin: auto;
    font-family: Verdana, serif;
}
.header {
    width: 100%;
    background-image: url("../header.jpg");
    height: 10rem;
}

.header h1{
    color:white;
    padding: 10px;
    font-size: 3em;
}

nav {
    width: 100%;
    background-color: #444444;
    padding:5px 0;
}

nav a{
    text-decoration: none;
    color:lime;
}

article {
    background-color:#EEEEEE;
    margin: 10px;
    padding: 10px;
}

article h1 {
    text-decoration: underline;
    color:#333333;
    font-size: 3em;
}