* {
    padding: 0;
    margin: 0;
    font-family: Verdana Helvetica Arial;
    font-size: 1.2em;
    margin: auto;
    color: black;
}

header{
    text-align: center;
}

body {
    width: 95%;
}

h1 {
    color: #007e7e;
    font-size: 150%;
    margin: 20px 0;
}

h2{
    font-size: 120%;
}

section p {
    margin-bottom: 30px;
}

.weeklySpecials a:hover {
    background-color: brown;
}

#guarantee{
    background-color: #a7cece;
    color: #444444 !important;
    padding: 20px 20px 20px 100px;
    margin: 30px;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: 100px;
}

.weeklySpecials {
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    float: right;
    width: 25%;
    border:5px solid #007e7e;;
    text-align: center;
}

section{
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
}

footer {
    font-size: 0.6em;
    text-align: center;
}