.container{
    display: grid;
    grid-template-areas: 'a b c';
    grid-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    background: #b83269;
 }
.block.block2{
    grid-row-start: 2;
    grid-row-end: 4;
    background: #726ca8;
}
.block.block3{
    background: #7c8cc4;
}
.block.block4{
    background: #9fd2db;
}
.block.block5{
    grid-column-start: 2;
    grid-column-end: 4;
    background: #c490d2
}
.block.block6{
    grid-column-start: 1;
    grid-column-end: 3;
    background: #b83269;
}
.block.block7{
    background: #726ca8;
}
.block.block8{
    grid-column-start: 1;
    grid-column-end: 4;
    background: #7c8cc4;
}
