main{
    display: grid;
    grid-template-areas:
            'a a a'
            'b b b'
            'c d d';
    grid-gap: 10px;
}

.block{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
    font-size: 4em;
}

@media only screen and (max-width: 772px) {
    main{
        grid-template-areas: 'a' 'c' 'b' 'd';
    }
}

@media only screen and (max-width: 320px) {
    main{
        grid-template-areas: 'b' 'a' 'c' 'd';
    }
}

.block.block1{
    grid-area: a;
    background: #b6366a;
}

.block.block2{
    grid-area: b;
    background: #726ea6
}
.block.block3{
    grid-area: c;
    background: #7d8dc2
}
.block.block4{
    grid-area: d;
    background: #a1d2da;
}