*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Calibri", Arial, cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:active{
    text-decoration: none;
    color: black;
}

.main-nav {
    width:100%;
    background-color: black;
    padding: 10px;
}

nav > h1 {
    color:white;
    font-family: "Calibri", Arial, cursive;
}

footer {
    width: 100%;
    background-color: black;
    margin-top: auto;
    padding: 0.8rem 0.5rem;
}

footer > p {
    color: white;
}

.container{
    margin: 1rem 1rem 0;
}
