*{
    padding: 0px;
    margin: 0px;
}

#gamecontainer{
    border: 1px solid black;
    width: 600px;
    height: 800px;
    margin: 5px;
}

#klikObject{
    position: relative;
}

#startButton{
    float: left;
}

#score{
    float: right;
}

