*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Calibri", Arial, cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a, a:active{
    text-decoration: none;
    color: black;
}

.main-nav {
    width:100%;
    background: rgb(213,255,248);
    background: linear-gradient(90deg, rgba(213,255,248,1) 0%, rgba(0,219,255,1) 28%, rgba(0,84,248,1) 66%, rgba(0,17,60,1) 100%);
    padding: 10px;
}

.container{
    margin: 1rem 1rem 0;
}

nav > h1 {
    color: #042686;
    font-family: "Calibri", Arial, cursive;
}

footer {
    width: 100%;
    background: rgb(213,255,248);
    background: linear-gradient(90deg, rgba(213,255,248,1) 0%, rgba(0,219,255,1) 28%, rgba(0,84,248,1) 66%, rgba(0,17,60,1) 100%);
    margin-top: 20px;
    padding: 0.8rem 0.5rem;
}

article {
    margin: auto;
    max-width: 800px;
}

article h1 {
    text-decoration: underline;
    font-size: 80px;
    margin: 1rem 0;
}

li {
    margin-top: 1rem;
}

img {
    height: 200px;
    border: 3px solid black;
}

.datagrid  {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
}

.datagrid  td, .datagrid  th {
    padding: 9px 10px;
}

.datagrid  thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, rgba(0,219,255,1)), color-stop(1, rgba(0,84,248,1)));
    background: -moz-linear-gradient(center top, #36752D 5%, #275420 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color: #36752D;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #36752D;
}

.datagrid  thead th:first-child {
    border: none;
}

.datagrid  tbody td {
    color: rgba(0,219,255,1);
    border-left: 1px solid #C6FFC2;
    font-size: 12px;
    font-weight: normal;
}

.datagrid  tbody .alt td {
    background: rgba(0,219,255,1);
    color: rgba(0,84,248,1);
}

.datagrid  tbody td:first-child {
    border-left: none;
}

.datagrid  tbody tr:last-child td {
    border-bottom: none;
}

.onbekend{
    background-color: red;
}